@handler Restaurant.GetIndex

<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant</title>
    </head>
    <body>
        <h1>Welcome to the Restaurant!</h1>
        <p><a href="/menu" rel="menu">Menu</a></p>
    </body>
</html>