<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fix" version="0.3.3.13" targetFramework="net45" />
  <package id="Fix.AspNet" version="0.3.3.13" targetFramework="net45" />
  <package id="Inflector" version="1.0.0.0" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="Simple.Web" version="0.7.1.83" targetFramework="net45" />
  <package id="Simple.Web.AspNet" version="0.7.1.83" targetFramework="net45" />
  <package id="Simple.Web.JsonFx" version="0.7.1.83" targetFramework="net45" />
  <package id="Simple.Web.Razor" version="0.7.1.83" targetFramework="net45" />
  <package id="Simple.Web.Xml" version="0.7.1.83" targetFramework="net45" />
</packages>